[submodule "vendor/http"]
	path = vendor/http
	url = https://github.com/tmonzel/sc.http.git
[submodule "vendor/http-router"]
	path = vendor/http-router
	url = https://github.com/tmonzel/sc.http-router.git
[submodule "vendor/http-action"]
	path = vendor/http-action
	url = https://github.com/tmonzel/sc.http-action.git
[submodule "vendor/inflector"]
	path = vendor/inflector
	url = https://github.com/tmonzel/sc.inflector.git
[submodule "vendor/test"]
	path = vendor/test
	url = https://github.com/tmonzel/sc.test.git
[submodule "vendor/display"]
	path = vendor/display
	url = https://github.com/tmonzel/sc.display.git
[submodule "vendor/loader"]
	path = vendor/loader
	url = https://github.com/tmonzel/sc.loader.git
[submodule "vendor/http-application"]
	path = vendor/http-application
	url = https://github.com/tmonzel/sc.http-application.git
